In [7]:
from itertools import permutations, product

import tqdm

import pandas as pd

from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

import os
from os import path

import matplotlib.pyplot as plt

from warnings import simplefilter
from collections import OrderedDict

if (os.path.abspath('').split('/')[-1] == 'project'):
    %cd utils
elif (os.path.abspath('').split('/')[-1] == 'train_and_vis'):
    %cd ../utils

import query_utils
import model_utils
import validation_utils

print(os.path.abspath(''))

if (os.path.abspath('').split('/')[-1] == 'utils'):
    %cd ..


simplefilter(action="ignore", category=pd.errors.PerformanceWarning)
simplefilter(action='ignore', category=FutureWarning)

/Users/benjaminli/Documents/coding/scires/project/utils
/Users/benjaminli/Documents/coding/scires/project/utils
/Users/benjaminli/Documents/coding/scires/project

In [8]:
nard_seq = pd.read_csv("data/nardus_sequences.csv")
# nard_seq.drop(0, axis=1, inplace=True)

In [9]:
print(nard_seq)

               ID                                       DNA Sequence  \
0     NC_025403.1  accagagggaaaatataacaatgtcgttttatagcgatgtaaataa...
1     NC_025404.1  accagagggaaaattaagaaaggtcgttccaagacgacttaaaaga...
2     NC_028246.1  acggagaaaaacaaaaaaactatagtgattagataaataaggaaaa...
3     NC_002077.1  ttgcccactccctctctgcgcgctcgctcgctcggtggggcctgcg...
4     NC_006152.1  ctctcccccctgtcgcgttcgctcgctcgctggctcgtttgggggg...
...           ...                                                ...
1843  NC_007661.1  gttaaaactctcacacttatggtggaactggatctgcaaaaatggg...
1844  NC_007662.1  gttaaaaatctggttgtatctactcttgaatgaacgtgcataaagc...
1845  NC_007663.1  gttaaaatctggaaccaatatggaagggatttatgcacgtgctttt...
1846  NC_007664.1  gttaaaaaagagtgcagatgtcgagaatagtcttactaacaccagg...
1847  NC_007665.1  gttaaaaacctcaagatgcatgccgctattacttcaatgaaacgtg...

      isZoonotic
0              0
1              0
2              0
3              1
4              1
...          ...
1843           0
1844           0
1845           0
1846           0
1847           0

[1848 rows x 3 columns]

In [10]:
df = pd.read_csv('data/virus_genome/human_infecting_virus', delimiter='\t', header=None)
df[['ID', 'DNA Sequence']] = df[0].str.split(expand=True)
df = df.drop(0, axis=1)
df['isZoonotic'] = 1

df2 = pd.read_csv('data/virus_genome/Other_viruses', delimiter='\t', header=None)
df2[['ID', 'DNA Sequence']] = df2[0].str.split(expand=True)
df2 = df2.drop(0, axis=1)
df2['isZoonotic'] = 0

dfother = pd.DataFrame()
it = len(df)

# iterate through each sequence
for i in range(len(df2)):
    dfother.at[it, 'DNA Sequence']=df2.at[i, 'DNA Sequence']
    dfother.at[it, 'isZoonotic']=int(0)
    dfother.at[it, 'ID']=df2.at[i, 'ID']
    it+=1


df.reset_index(drop=True, inplace=True)
df2.reset_index(drop=True, inplace=True)

mergedDf = pd.concat([df, dfother], axis=0)

In [11]:
# 1848
print(df.columns)
print(nard_seq.columns)

Index(['ID', 'DNA Sequence', 'isZoonotic'], dtype='object')
Index(['ID', 'DNA Sequence', 'isZoonotic'], dtype='object')

In [12]:
print(mergedDf)

           ID                                       DNA Sequence  isZoonotic
0       37121  cttttaacaatcatagttttataaaagggtgtaaccgaagcggttt...         1.0
1      129724  atactttacaattatcttgtaaaaagtagggtgtaaccgaaaaggg...         1.0
2       59303  atggcggacgtgtgacatcaccgttcgctctttctaggatcctttg...         1.0
3      120686  ttgttctacttcttactcattattataaattataatgtttgtataa...         1.0
4       99565  gtgaatgatgatggcgtcgaaagacgtcgttgcagctactgctgct...         1.0
...       ...                                                ...         ...
9423   268315  ggatccacagaactccttgtatgtacagccgcgggtacccacagca...         0.0
9424   130329  ctcatgtcattaataagaccatgcagaaaatgcaaatgaggcgaag...         0.0
9425  1239437  ccgaagtgggatggcggctgccgccgcttcggcgcttggcgcttcg...         0.0
9426   358812  gtatacgaggttagttcattctcgtatacacgattggacaaatcaa...         0.0
9427    11287  atggaaggaggaattcgtgcagcgttttcaggcctgaatgatgtta...         0.0

[9428 rows x 3 columns]

In [18]:
x = 0
y=0
for col in nard_seq.iterrows():
    print(col[1])
    # if seq in mergedDf['DNA Sequence'].values:
    #     x+=len(mergedDf[mergedDf['DNA Sequence'] == seq])
    #     mergedDf = mergedDf[mergedDf['DNA Sequence'] != seq]
    # else:
    #     # append to the existing DF
    #     mergedDf.loc[len(mergedDf.index)]=[None, seq, ]
    #     y+=1
print("removed", x, "need to add: ", y)

ID                                                    NC_025403.1
DNA Sequence    accagagggaaaatataacaatgtcgttttatagcgatgtaaataa...
isZoonotic                                                      0
Name: 0, dtype: object
ID                                                    NC_025404.1
DNA Sequence    accagagggaaaattaagaaaggtcgttccaagacgacttaaaaga...
isZoonotic                                                      0
Name: 1, dtype: object
ID                                                    NC_028246.1
DNA Sequence    acggagaaaaacaaaaaaactatagtgattagataaataaggaaaa...
isZoonotic                                                      0
Name: 2, dtype: object
ID                                                    NC_002077.1
DNA Sequence    ttgcccactccctctctgcgcgctcgctcgctcggtggggcctgcg...
isZoonotic                                                      1
Name: 3, dtype: object
ID                                                    NC_006152.1
DNA Sequence    ctctcccccctgtcgcgttcgctcgctcgctggctcgtttgggggg...
isZoonotic                                                      1
Name: 4, dtype: object
ID                                                    NC_010820.1
DNA Sequence    tgtggctgatatccactaaaatagtaggcccccaggaaaaggatta...
isZoonotic                                                      1
Name: 5, dtype: object
ID                                                    NC_006021.1
DNA Sequence    gtttatttgagcgatggtcatcaccgtgcaaggtgcagatctagtc...
isZoonotic                                                      0
Name: 6, dtype: object
ID                                                    NC_005996.1
DNA Sequence    gttaaattcaccatggcttccgaatttggcattttgatttgtgata...
isZoonotic                                                      0
Name: 7, dtype: object
ID                                                    NC_006017.1
DNA Sequence    gttaattttctgctgtgaactccagaatgcaagggaatgagagaat...
isZoonotic                                                      0
Name: 8, dtype: object
ID                                                    NC_006012.1
DNA Sequence    gtttatttaggatggaaccttacgcaatattgtatgttacgcagga...
isZoonotic                                                      0
Name: 9, dtype: object
ID                                                    NC_006020.1
DNA Sequence    gttaaagaacctaggcggtttggcaacacacaaacatggataggtt...
isZoonotic                                                      0
Name: 10, dtype: object
ID                                                    NC_006018.1
DNA Sequence    gttaatttttccagaagccatgggaaagttcacatcttttttgaag...
isZoonotic                                                      0
Name: 11, dtype: object
ID                                                    NC_006011.1
DNA Sequence    gttaaaattcggttaggatggacgcgatagcagcaagagccttgtc...
isZoonotic                                                      0
Name: 12, dtype: object
ID                                                    NC_006019.1
DNA Sequence    gttaaataagttgtctcatgtcttcggcattactccttgcacctgg...
isZoonotic                                                      0
Name: 13, dtype: object
ID                                                    NC_006016.1
DNA Sequence    gtttaaaaatccgttcgtcatcatggcagaggtcagaaagcaacaa...
isZoonotic                                                      0
Name: 14, dtype: object
ID                                                    NC_006009.1
DNA Sequence    gtttaaattatcccttgtcatgagtctagctacgatcgccgaaaat...
isZoonotic                                                      0
Name: 15, dtype: object
ID                                                    NC_001659.2
DNA Sequence    tataagtatattatatattttataattttatatatataaagcaggt...
isZoonotic                                                      0
Name: 16, dtype: object
ID                                                     AY747174.1
DNA Sequence    ggcttcggccccctcaccctcttttccggtggtctggtcccggacc...
isZoonotic                                                      1
Name: 17, dtype: object
ID                                                    NC_009894.1
DNA Sequence    agtagtgtacccctaaatacaacatacaacatggacaattacaaga...
isZoonotic                                                      0
Name: 18, dtype: object
ID                                                    NC_009895.1
DNA Sequence    agtagtgaactaccacaacaaaatgattattacaattctcaacgtg...
isZoonotic                                                      0
Name: 19, dtype: object
ID                                                    NC_009896.1
DNA Sequence    agtagtgaactccactattaactacgcattgcaatggcaaatcaat...
isZoonotic                                                      0
Name: 20, dtype: object
ID                                                    NC_025353.1
DNA Sequence    acgaagacaaacaaaccatttaaataaataaaaggctcatgagaaa...
isZoonotic                                                      1
Name: 21, dtype: object
ID                                                    NC_002531.1
DNA Sequence    accataaactatctaaataagcacttttctggctctctggcccccc...
isZoonotic                                                      0
Name: 22, dtype: object
ID                                                    NC_024382.1
DNA Sequence    cgggtccggagatgtcgggaccagggtccctgcttctcgggacgcg...
isZoonotic                                                      0
Name: 23, dtype: object
ID                                                    NC_010249.1
DNA Sequence    cgcaccggggatcctaggctttccttgatcatggatgttcacttga...
isZoonotic                                                      0
Name: 24, dtype: object
ID                                                    NC_010253.1
DNA Sequence    tttaggataacgctttgctaacgatctcgaacatgagttctgagaa...
isZoonotic                                                      0
Name: 25, dtype: object
ID                                                    NC_025391.1
DNA Sequence    acgataaaagaaaaaatccttagtcagatccattttcacaacactt...
isZoonotic                                                      0
Name: 26, dtype: object
ID                                                    NC_002306.3
DNA Sequence    acttttaaagtaaagtgagtgtagcgtggctataactcttctttta...
isZoonotic                                                      0
Name: 27, dtype: object
ID                                                    NC_001586.1
DNA Sequence    taatctttgaattataaaaaagtagggaggaaccgatatcggttta...
isZoonotic                                                      1
Name: 28, dtype: object
ID                                                    NC_001355.1
DNA Sequence    gttaataacaatcttggtttaaaaaataggagggaccgaaaacggt...
isZoonotic                                                      1
Name: 29, dtype: object
ID                                                    NC_001587.1
DNA Sequence    actataatcctactataaaatatagggtgtaaccgaaaacggttgc...
isZoonotic                                                      1
Name: 30, dtype: object
ID                                                    NC_001678.1
DNA Sequence    tacttaactatactcctgagtatgaaaaagggtgtaaccgaaaacg...
isZoonotic                                                      0
Name: 31, dtype: object
ID                                                    NC_001676.1
DNA Sequence    taactacaaccatgatttataaaataagggagggaccgaaaacggt...
isZoonotic                                                      1
Name: 32, dtype: object
ID                                                    NC_004104.1
DNA Sequence    atgaccaacggagactactgcccaagaaatatcttcctattgtgca...
isZoonotic                                                      1
Name: 33, dtype: object
ID                                                    NC_001576.1
DNA Sequence    ttataaactataatctagacaataataaatagggagggaccgaata...
isZoonotic                                                      1
Name: 34, dtype: object
ID                                                    NC_001694.1
DNA Sequence    taacaatcatatatgtaaaaagtaggttggcaccgaaaacggtcgg...
isZoonotic                                                      1
Name: 35, dtype: object
ID                                                    NC_001352.1
DNA Sequence    ataatgtataactataatcctttatttaaaaatagggtgtgaccga...
isZoonotic                                                      1
Name: 36, dtype: object
ID                                                    NC_001583.1
DNA Sequence    taacaattatatgttactaaaagggtgtaaccgaaaacggttgcaa...
isZoonotic                                                      1
Name: 37, dtype: object
ID                                                    NC_001593.1
DNA Sequence    gaaagtaacaatcctacttttatagacagggagtaaccgaaatagg...
isZoonotic                                                      1
Name: 38, dtype: object
ID                                                    NC_001357.1
DNA Sequence    attaatacttttaacaattgtagtatataaaaaagggagtaaccga...
isZoonotic                                                      1
Name: 39, dtype: object
ID                                                    NC_001595.1
DNA Sequence    tgtttaataattgtacagttactaaagggcgtaaccgaaaacggtc...
isZoonotic                                                      1
Name: 40, dtype: object
ID                                                    NC_001526.4
DNA Sequence    atggctgatcctgcaggtaccaatggggaagagggtacgggatgta...
isZoonotic                                                      1
Name: 41, dtype: object
ID                                                    NC_010251.1
DNA Sequence    cgcaccgaggatcctaggcgaaatttgactatggatgaaaagatca...
isZoonotic                                                      0
Name: 42, dtype: object
ID                                                    NC_010247.1
DNA Sequence    cgcacagtggatcctaggcgcaattgttcacgcaattttgcatatc...
isZoonotic                                                      0
Name: 43, dtype: object
ID                                                    NC_022755.1
DNA Sequence    tatagggcaagcagtggtatcaacgcagaaagtacatgggacgaag...
isZoonotic                                                      0
Name: 44, dtype: object
ID                                                    NC_003468.2
DNA Sequence    tagtagtagactccgggatagaaaaagttagaaaaatggaaaagta...
isZoonotic                                                      1
Name: 45, dtype: object
ID                                                    NC_003467.2
DNA Sequence    tagtagtagactccgcaagaagaagcaaaaaattaaagaagtgagt...
isZoonotic                                                      1
Name: 46, dtype: object
ID                                                    NC_003466.1
DNA Sequence    tagtagtagactccttgagaagctactgctgcgaaagctggaatga...
isZoonotic                                                      1
Name: 47, dtype: object
ID                                                    NC_022581.1
DNA Sequence    acgagaaaaacaaaacccattaaacgacttaatacttttctctgcc...
isZoonotic                                                      0
Name: 48, dtype: object
ID                                                     KY793537.1
DNA Sequence    agtagtgtactcctacaacaaaaaccaagaagaatggaattagcac...
isZoonotic                                                      1
Name: 49, dtype: object
ID                                                     KY793538.1
DNA Sequence    agtagtgtactactcaataaagatttcaaaggaaatatcaaaaaga...
isZoonotic                                                      1
Name: 50, dtype: object
ID                                                     KY793539.1
DNA Sequence    agtagtgtactccatataaagtcaaactatcgcttgttgtaaaaac...
isZoonotic                                                      1
Name: 51, dtype: object
ID                                                     FJ660417.1
DNA Sequence    agtagtgtactccacattatagtaataaagtcaagatggcgtctca...
isZoonotic                                                      0
Name: 52, dtype: object
ID                                                    NC_003676.1
DNA Sequence    atggcggggaatttgaagaagaaatctgccaaacccaaggcccaaa...
isZoonotic                                                      0
Name: 53, dtype: object
ID                                                    NC_009891.1
DNA Sequence    ttcaaaggtggcgggagagttggcctcacgctgtttagcgtgagag...
isZoonotic                                                      0
Name: 54, dtype: object
ID                                                    NC_020808.1
DNA Sequence    acgcttaacgacaaaaacagaaaaggaatagacataatcgcctgca...
isZoonotic                                                      1
Name: 55, dtype: object
ID                                                    NC_025393.1
DNA Sequence    acggtcagaaccaaaccagctattaaaaacatatttttattcaatg...
isZoonotic                                                      0
Name: 56, dtype: object
ID                                                    NC_009026.2
DNA Sequence    agtatttcttctgcgtgagaccattgcgacagttcgtaccggtgag...
isZoonotic                                                      1
Name: 57, dtype: object
ID                                                    NC_034446.1
DNA Sequence    ttttgccccgggggaaggtaggggcaaacacacccctggggctaga...
isZoonotic                                                      0
Name: 58, dtype: object
ID                                                    NC_003900.1
DNA Sequence    atagcggacggactagtacttgtactacagaattaactgccgtgtg...
isZoonotic                                                      0
Name: 59, dtype: object
ID                                                    NC_003243.1
DNA Sequence    atggagtctgataagattgcctttaagatcaacaatcaattggtgt...
isZoonotic                                                      1
Name: 60, dtype: object
ID                                                    NC_002470.1
DNA Sequence    ccgaagtgggatggcggctgccgccgcttcggcgcttggcgcttcg...
isZoonotic                                                      0
Name: 61, dtype: object
ID                                                    NC_003790.1
DNA Sequence    ccgaatagatgggatggcttcggccggccctactggggcgggggct...
isZoonotic                                                      0
Name: 62, dtype: object
ID                                                    NC_005790.1
DNA Sequence    ccgaaagtgttgtcggggcgatggcccaggcgggtcgcagtggcga...
isZoonotic                                                      0
Name: 63, dtype: object
ID                                                    NC_039223.1
DNA Sequence    accaaacagagaatctgtgaggtacgataaaaggcgaagaagcaat...
isZoonotic                                                      1
Name: 64, dtype: object
ID                                                    NC_025349.3
DNA Sequence    accaaacaaggactagataacccacgtgaccgttaactggaaaata...
isZoonotic                                                      0
Name: 65, dtype: object
ID                                                    NC_025407.1
DNA Sequence    accaaaccaggatcacactggcgacgtgagatgtagaaaaaattat...
isZoonotic                                                      0
Name: 66, dtype: object
ID                                                    NC_025363.1
DNA Sequence    accttacagaatctctgtttggtacgttataaagagatgaaatata...
isZoonotic                                                      0
Name: 67, dtype: object
ID                                                    NC_025373.1
DNA Sequence    actaaacagaaagttaataagtgtttgtaacgtccgattaagtagc...
isZoonotic                                                      0
Name: 68, dtype: object
ID                                                    NC_019531.1
DNA Sequence    acgaaaaagaagaataaaaggcagaagccttttaaaaggaaccctg...
isZoonotic                                                      0
Name: 69, dtype: object
ID                                                    NC_025361.1
DNA Sequence    accaaacaaggaatgcgcaagcatcctaaaatttaaatagcgtgat...
isZoonotic                                                      0
Name: 70, dtype: object
ID                                                    NC_039194.1
DNA Sequence    accaaacaaggaaaccatatgcttggggaatttacgagaacgctta...
isZoonotic                                                      0
Name: 71, dtype: object
ID                                                    NC_025347.1
DNA Sequence    accaaacaaggactgcataagcagtgtaaaacttttaataaaaaat...
isZoonotic                                                      0
Name: 72, dtype: object
ID                                                    NC_039195.1
DNA Sequence    accaaacaaggaatgcaagaccaacgggaactttaaataaaacaat...
isZoonotic                                                      0
Name: 73, dtype: object
ID                                                    NC_025390.1
DNA Sequence    accaaacaaagaaattgtaagatacgttaaagaccgaagtagcaac...
isZoonotic                                                      0
Name: 74, dtype: object
ID                                                    NC_001451.1
DNA Sequence    acttaagatagatattaatatatatctattacactagccttgcgct...
isZoonotic                                                      0
Name: 75, dtype: object
ID                                                    NC_007652.1
DNA Sequence    gggacaagtgaaaatgtctcttcaggggattcagcttagtgatttg...
isZoonotic                                                      0
Name: 76, dtype: object
ID                                                    NC_008250.2
DNA Sequence    tttgaaagcgggtgcatgcatggccattttccagcacaggttcagc...
isZoonotic                                                      0
Name: 77, dtype: object
ID                                                    NC_024766.1
DNA Sequence    caccccctactgccctaacccccaaagttagttatagggtggctcc...
isZoonotic                                                      0
Name: 78, dtype: object
ID                                                    NC_024767.1
DNA Sequence    gggtatggtggttaaccccgtccactgggcatctttgccctctcag...
isZoonotic                                                      0
Name: 79, dtype: object
ID                                                    NC_018713.1
DNA Sequence    gtatacgagattagctcatactcgtgtacaaattggacgtagcaaa...
isZoonotic                                                      0
Name: 80, dtype: object
ID                                                    NC_015877.1
DNA Sequence    gtaaatttcgtctagctatggcacgtctccatggattaatcttctc...
isZoonotic                                                      0
Name: 81, dtype: object
ID                                                    NC_015878.1
DNA Sequence    gtaaattttgagctagcatgaatggtattccagctttatcagagtt...
isZoonotic                                                      0
Name: 82, dtype: object
ID                                                    NC_015879.1
DNA Sequence    gtaaatttctccttaaggcatgcctcctaatagagtcagaaaccgt...
isZoonotic                                                      0
Name: 83, dtype: object
ID                                                    NC_015880.1
DNA Sequence    gtaaattttccagttcacgatgacgtacatcggattgccgatatct...
isZoonotic                                                      0
Name: 84, dtype: object
ID                                                    NC_015881.1
DNA Sequence    gtaaatttttcagcgacacttcaatgggggctggatcatcagttgt...
isZoonotic                                                      0
Name: 85, dtype: object
ID                                                    NC_015882.1
DNA Sequence    gtaaattttgctcactctactgtcgctatgtcaggtcgtgtggtca...
isZoonotic                                                      0
Name: 86, dtype: object
ID                                                    NC_015883.1
DNA Sequence    gtaaatttctcttgtgatggcacgtgcacattatccatatgtgact...
isZoonotic                                                      0
Name: 87, dtype: object
ID                                                    NC_015884.1
DNA Sequence    gtaaatttttgcttcaccttacacgctgcgatggaagtcccgttag...
isZoonotic                                                      0
Name: 88, dtype: object
ID                                                    NC_015886.1
DNA Sequence    gtaaatttttctctctctaaccatgtctgctggtctgcgtttgaac...
isZoonotic                                                      0
Name: 89, dtype: object

In [5]:
print(len(mergedDf))

8860